<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OCL Web Demo | Add New Data</title>

    <link rel="shortcut icon" href="http://ocl.space/assets/img/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
      <div class="container">
        <a class="navbar-brand" href="/" style="color: #2d2d2d;">
          <img src="https://opencubelabs.com/img/ocl_logo.svg" style="height: 30px;">
          <!-- Logo Here -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="steps" style="padding-top: calc(2rem + 55px);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Add New Data</h1>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row" style="margin-top: 25px; margin-bottom: 50px;">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <form method="POST" action="/add">
              <input type="text" name="img" class="form-control" placeholder="Image URL">
              <br>
              <input type="text" name="name" class="form-control" placeholder="Name">
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>

            </form>
          </div>
          <div class="col-md-4"></div>

        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

  </body>

</html>
